= simple_form_for @comment, :remote => true do |f|
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h3.modal-title 修改回复
      .modal-body
        .form-group
          = f.input :content, :input_html => {:autofocus => true, :rows => 9, :class => 'form-control'}, :label => false
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 取消
        = f.submit '确定', :class => 'btn btn-primary', :data => {:disable_with => t('tips.submitting')}
