= simple_form_for [:admin, @node], :url => move_to_admin_node_path(@node), :remote => true do |f|
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h3.modal-title 移动到新位面
      .modal-body
        .form-group
          = f.select :plane_id, options_from_collection_for_select(Plane.all - [@node.plane], :id, :name), {}, :class => 'form-control'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 取消
        = f.submit '开始移动', :class => 'btn btn-primary'
