- target_id = '#' + @node.html_id
$('#edit-modal').modal('hide');
$("#{target_id}").replaceWith("#{escape_javascript(render @node)}");
setTimeout(function() {
$("#{target_id}").addClass('highlight-background');
}, 500)

setTimeout(function() {
$("#{target_id}").removeClass('highlight-background');
}, 1500)
